# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
package-lock.json
build/static/js/runtime~main.f12def55.js.map
build/static/js/runtime~main.f12def55.js
build/static/js/main.62a254f5.chunk.js.map
build/static/js/main.62a254f5.chunk.js
build/static/js/9.95a3efdd.chunk.js.map
build/static/js/9.95a3efdd.chunk.js
build/static/js/8.054b8cc2.chunk.js.map
build/static/js/8.054b8cc2.chunk.js
build/static/js/7.e5e45c7b.chunk.js.map
build/static/js/7.e5e45c7b.chunk.js
build/static/js/6.aa8d6c22.chunk.js.map
build/static/js/6.aa8d6c22.chunk.js
build/static/js/5.1c5791fb.chunk.js.map
build/static/js/5.1c5791fb.chunk.js
build/static/js/4.9c5e5c02.chunk.js.map
build/static/js/4.9c5e5c02.chunk.js
build/static/js/3.6bd5b5a6.chunk.js.map
build/static/js/3.6bd5b5a6.chunk.js
build/static/js/1.2d38bad2.chunk.js.map
build/static/js/1.2d38bad2.chunk.js
build/static/js/0.7526892e.chunk.js.map
build/static/js/0.7526892e.chunk.js
build/static/css/main.669ebda2.chunk.css.map
build/static/css/main.669ebda2.chunk.css
build/static/css/9.55010cbe.chunk.css.map
build/static/css/9.55010cbe.chunk.css
build/static/css/7.005e15eb.chunk.css.map
build/static/css/7.005e15eb.chunk.css
build/static/css/4.925cc647.chunk.css.map
build/static/css/4.925cc647.chunk.css
build/static/css/1.925cc647.chunk.css.map
build/static/css/1.925cc647.chunk.css
build/precache-manifest.9671c2a404cf8ed0c0478c4bb904381a.js
build/index.html
