.carrinho {
    &-container {
        max-width: 500px;
        padding: 40% 40px 40px;
        text-align: left;
    }
    &-btn {
        &-close {
            font-size: 30px;
            position: absolute;
            top: 15px;
            left: 16px;
            color: $primary-color;
            background: white;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            transition: .5s;
            
            &:hover{
                background: rgb(218, 218, 218);
                text-decoration: none;
                color: $primary-color;
            }
        }
    }
    &-card {
        text-align: left;
        display: flex;
        align-items: center;
        margin-bottom: 50px;

        &-info {
            padding-left: 20px;
            h5,
            p {
                margin-bottom: 0;
            }
        }

        &-img img {
            width: 100px;
        }
    }
    &-checkout {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        p {
            font-size: 20px;
            text-transform: uppercase;
        }
    }
}
@media screen and (max-width: 500px) {
    .carrinho {
        &-container {
            max-width: 320px;
        }
        &-checkout {
            align-items: center;
            flex-flow: column;
            p{
               padding-top: 10px;
            }
        }
    }

}
