@media screen and (max-width: 780px){
   .modal-container{
      border-radius: 0;
      margin: 0;
      height: 100%;
   }

   .tutorial-content p{
      padding: 0;
   }

   .modal-items-container{
      padding: 2.5rem 1rem !important
   }

   .dragscroll{
      overflow: auto!important;
   }

   #Passos{
      margin: 2rem 0rem!important;
   }
}

// Extra Small Devices
@media screen and (max-width: 450px){
   .floating-buttons {
      &.bottom {
          .buttons-right {
              bottom: 46px;
          }
          .buttons-left {
              bottom: 46px;
          }
      }
   }
}




// Extra Small Devices
@media screen and (max-width: 370px){
   .buttons-left, .buttons-right{
      font-size: 2rem;
   }
}
