@media screen and (max-width: 780px) {

   .btn-produto {
      &::after {
         display: none;
      }
      &:hover::after {
         display: none;
      }
   }

    .modal-container {
        border-radius: 0;
        margin: 0;
        height: 100%;
    }

    .tutorial-content p {
        padding: 0;
    }

    .modal-items-container {
        padding: 2.5rem 1rem !important;
    }

    .dragscroll {
        overflow: auto!important;
    }

    #Passos {
        margin: 0.7rem 0 !important;
    }

    #root{
       align-items: flex-start;
    }

    .toolTip{
        display: none;
    }
}

// Extra Small Devices
@media screen and (max-width: 450px) {
    .floating-buttons {
        &.bottom {
            .buttons-right {
                bottom: 46px;
            }
            .buttons-left {
                bottom: 46px;
            }
        }
    }

   #Passos {
      height: 40vh;
   }

    .carrinho-card-finalizar {
        justify-content: center;
        align-items: center;
        flex-flow: column;
    }

    .carrinho-container {
        text-align: center;
    }
}

// Extra Small Devices
@media screen and (max-width: 370px) {
    .buttons-left,
    .buttons-right {
        font-size: 2rem;
    }
}
