@media screen and (max-width: 780px){
   .modal-container{
      border-radius: 0;
      margin: 0;
      height: 100%;
   }

   .modal-items-container{
      padding: 1rem!important;
   }

   .loja-bg{
      overflow: auto!important;
   }
}