@import url( 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

#root,
.App,
body,
html {
    width: 100%;
    height: 100%;
}

#root {
    background-color: black;
    background-image: url("./../images/bg_loja.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.black-screen {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.top {
    &-logo {
        height: 150px;
        overflow: hidden;
        margin: 20px 0;
        background-image: url($logoUrl);
        background-position: center top;
        background-size: auto 100%;
        background-repeat: no-repeat;
        &-color {
            background-image: url($logoColorUrl);
        }
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.tutorial {
    height: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.tutorial-content {
    height: 100%;
}

.home {
    height: 100%;
    max-width: 800px;
    margin: 0 auto;
    &-logo {
        height: 200px;
        background-image: url($logoUrl);
        background-position: center top;
        background-size: auto 100%;
        background-repeat: no-repeat;
    }

    &-content {
        height: 100%;
    }
}

.loja-bg {
    width: 2394px;
    min-height: 764px;
    height: 100vh;
    background-image: url($bgLoja);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: auto 100%;
    overflow: hidden;

}

div#btnProximo {
    font-size: 30px;
}

.btn-fechar {
    border-color: #f6f6f600;
    text-transform: uppercase;
}

.btn-produto {
    position: absolute;
    font-size: 3em;
    color: #fff;
    &:hover {
        color: white;
    }

    &::after {
        position: absolute;
        content: '';
        top: 35px;
        left: 25px;
        height: 0;
        width: 0;
        border-radius: 50%;
        border: 4px dotted rgba(255, 255, 255, 0);
        opacity: 0;
        transition: 0.3s;
    }
    &:hover::after {
        top: -14px;
        left: -24px;
        height: 100px;
        width: 100px;
        opacity: 1;
        border: 7px dotted #fff;
        -webkit-animation: spin 3s linear infinite;
        -moz-animation: spin 3s linear infinite;
        animation: spin 3s linear infinite;
    }
}

.floating-buttons {
    width: 100vw;
    position: fixed;
    left: 0;
    cursor: pointer;
    &.top {
        .buttons-right {
            top: 0;
        }
        .buttons-left {
            top: 0;
        }
    }
    &.bottom {
        .buttons-right {
            bottom: 0;
        }
        .buttons-left {
            bottom: 0;
        }
    }

    .buttons-left {
        span {
            color: #ffffff;
            text-decoration: none;
            margin-right: 20px;
            transition: color 0.2s;
            &:hover {
                color: #aeaeae;
            }
        }
        position: absolute;
        margin: 15px 30px;
        left: 0;
        font-size: 2.5em;
    }
    .buttons-right {
        span {
            color: #ffffff;
            text-decoration: none;
            margin-left: 25px;
            transition: color 0.2s;
            &:hover {
                color: #aeaeae;
            }
        }
        position: absolute;
        margin: 15px 30px;
        right: 0;
        font-size: 2.5em;
    }
}

#Modal {
    z-index: 3;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100vw;
}

#ListaDeProdutos {
    margin: 0 auto;
    padding: 25px 100px;
    width: 100%;
    hr {
        width: 65%;
    }
}

.modal-container {
    height: calc(100% - 6rem);
    max-width: 800px;
    margin: 3rem auto;
}

.modal-content {
    height: 100%;
}

.modal-items-container {
    overflow: auto;
}
.sidebar-btn-close {
    font-size: 30px;
    position: absolute;
    top: 15px;
    right: 16px!important;
    color: $primary-color;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.5s;
    text-decoration: none;
    &:hover {
        background: rgb(218, 218, 218);
        text-decoration: none;
        color: $primary-color;
    }
}
